@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.color_text {
    color: #3CB68A;
}
.color_back {
    background: #3CB68A;
    font-weight: bold;
}
.anim {
    width: 200px!important;
}
.border_share {
    border-radius: 10px;
}
h1{
    font-family: 'Roboto Condensed', sans-serif;
}
p{
    font-family: 'Roboto', sans-serif;
}
button{
    font-weight: bold;
}


.button_hover{
    border-radius: 15px;
    padding: 3px;
    outline: none!important;
    border: 4px solid transparent;
    width: 170px;
}
.button_hover1{
    border-radius: 15px;
    padding: 3px;
    outline: none!important;
    border: 4px solid transparent;
    width: 380px;
}
.color_back_btn {
    background: #3CB68A;
    font-weight: bold;
    padding: 12px 26px;
    border-radius: 10px;
}
.color_back_btn2 {
    background: #3CB68A;
    font-weight: bold;
    padding: 4px;
    border-radius: 10px;
}
.button_hover1:hover{
    border: 4px solid #3CB68A;
}
.button_hover:hover{
    border: 4px solid #3CB68A;
}
.card_img{
    width: 100%;
}
.drop {
    min-width: 80%!important;
}
.input_tolov:focus {
    box-shadow:  inset 0 0 0 1px #3CB68A, 0 0 3px 1px #3CB68A;;
    outline: none;
}

.input_tolov {
    border-radius: 10px;
    padding: 10px;
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
    border: none;
    outline: none;
    width: 380px;
}
.lang {
    padding: 0.25rem 1rem;
}
.main_drop {
    width: 50px;
    height: 50px;
    background-color: white!important;
    border: 1px solid #3CB68A;
    border-radius: 8px;
    font-size: 24px;
}
.main_dropMobile {
    width: 50px;
    height: 50px;
    background-color: white!important;
    border: 1px solid #3CB68A!important;
    border-radius: 8px;
    font-size: 20px;
}
.dropdown-toggle{
    font-size: 20px;
}

.shadow {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
}
.input{
    width: 450px;
}
@media (max-width: 992px) {
.navbar-collapse {

}
    .navbar-collapse ul{
        margin-left: 0!important;
        flex-direction: unset;
    }
    .drop {
        position: absolute!important;
    }
}

.item {
    height: 720px!important;
    width: 100% !important;

    padding-top: 50px;
}

.item h1 {
    font-style: normal;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 5rem!important;
    width: 77%!important;
}
.item p {

    width: 797px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    color: #FFFFFF;

}




@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@keyframes bake-pie {
    from {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
}





.pieID {
    display: inline-block;
    vertical-align: top;
}

.pie {
    height: 200px;
    width: 200px;
    position: relative;
    margin: 0 30px 30px 0;
}

.pie::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    width: 100px;
    height: 100px;
    background: #EEE;
    border-radius: 50%;
    top: 50px;
    left: 50px;
}

.pie::after {
    content: "";
    display: block;
    width: 120px;
    height: 2px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    box-shadow: 0 0 3px 4px rgba(0, 0, 0, 0.1);
    margin: 220px auto;
}

.slice {
    position: absolute;
    width: 200px;
    height: 200px;
    clip: rect(0px, 200px, 200px, 100px);
    animation: bake-pie 1s;
}

.slice span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    clip: rect(0px, 200px, 200px, 100px);
}

.legend {
    list-style-type: none;
    margin: 0;
    background: #FFF;
    padding: 15px;
    font-size: 13px;
    box-shadow: 1px 1px 0 #DDD, 2px 2px 0 #BBB;
}

.legend li {
    width: 250px;
    height: 1.25em;
    margin-bottom: 0.7em;
    padding-left: 0.5em;
    border-left: 1.25em solid black;
}

.legend em {
    font-style: normal;
}

.legend span {
    float: right;
}



.textColor {
    color: #C4C4C4;
}
.progress {
    overflow: unset;
    border-radius: 5px;
}
.progress-bar {
    position: relative;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 40px;
    height: 25px;
    right: -20px;
    background: #3CB68A;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
}
.button_back_color {
    background: #E2BE50;
}

.dropdown-toggle:after {
    display: none!important;
}

@media (max-width: 992px) {
   .header {
       display: none;
   }
    .header_mobile {
        display: block!important;
    }
}

.chart {
    width: 100%!important;
    height: 100%!important;
}

.chartPercent {
    width: 50px;
    height: 30px;
}

.video {
    position: relative;
}
.card-img-top{
    border-radius: 10px;
}
.video_play{
    position: absolute;
    width: 120px;
    top: calc(50% - 60px);
    left: calc(50% - 60px);
}
.link{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

@media (min-width: 768px) {
    .carousel-inner .active,
    .carousel-inner .active + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item  {
        display: block;
    }

    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
        transition: none;
    }

    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
        position: relative;
        transform: translate3d(0, 0, 0);
    }

    .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -25%;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }

}
@media (min-width: 768px) {
    .multi-item-carousel .carousel-inner .carousel-item {
        margin-right: inherit;
    }
    .multi-item-carousel .carousel-inner .carousel-item.active + .carousel-item,
    .multi-item-carousel .carousel-inner .carousel-item.active + .carousel-item + .carousel-item {
        display: block;
    }
    .multi-item-carousel .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .multi-item-carousel .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .multi-item-carousel .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
        transition: none;
    }
    .multi-item-carousel .carousel-inner .carousel-item.active + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -33.33333333%;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    .multi-item-carousel .carousel-inner .carousel-item-next,
    .multi-item-carousel .carousel-inner .carousel-item-prev {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    .multi-item-carousel .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    .multi-item-carousel .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .multi-item-carousel .carousel-item-next.carousel-item-left + .carousel-item,
    .multi-item-carousel .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .multi-item-carousel .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    .multi-item-carousel .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .multi-item-carousel .carousel-item-prev.carousel-item-right + .carousel-item,
    .multi-item-carousel .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .multi-item-carousel .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        display: block;
        visibility: visible;
    }
}

.border_car {
    border: 1px solid #3CB68A;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
}
.proactive{
    background-color: #0C2F2B;
}
#mobile_items{
    position: absolute;
    z-index: 1000;
    background-color: white;
    width: 100%;
    max-width: 100%;
    padding: 8vw;
}
@media (max-width: 768px) {
.footer {
    display: none;
}
    .footer-mobile{
        background-color: #114E47;
        display: block!important;
    }
    .item p {
        margin-top: 0;
        width: unset;
    }
    .item h1 {
        font-size: 10vw!important;
        line-height: 70px;
        width: 100% !important;
    }
    .owl-button{
        margin-top: 0!important;

    }
    .carousel-control-next {
        right: 0;
    }
    .carousel-control-prev {
        left: 0;
    }
    .input_tolov {
        width: 300px;
    }
    .btn_tolov {
        width: 300px!important;
    }
    .input {
        width: 100% !important;
    }
    .button_mob{
        text-align: center;
    }

    .border_car img {
        max-width: 160px;
    }
    .button_hover{
        border-radius: 15px;
        padding: 3px;
        outline: none!important;
        border: 4px solid transparent;
        width: 170px;
    }
    .button_hover:hover{
        border: 4px solid #3CB68A;
    }

}
@media (max-width: 992px) {
    .video_play {
        width: 100px;
        top: calc(50% - 50px) !important;
        left: calc(50% - 50px) !important;
    }
    .mobil_karousel{
        display: none;
    }
    .footer {
        margin-top: 70px;
    }
    .footer-mobile {
        margin-top: 70px;
    }
}
@media (min-width: 1330px) {

}

@media (max-width: 992px) and (min-width: 768px){

    .border_car {
        padding-right: 0!important;
        padding-left: 0!important;
    }
    .border_car img {
        max-width: 140px;
    }


}
@media (max-width: 1200px) and (min-width: 992px){
.container .row .col-lg-2 div{
    padding-left: 0!important;
    padding-right: 0!important;
}
}
